# Assignment 7

*(Due Saturday, November 2, 2019 at noon.)*

In [17]:
import numpy as np
import pandas as pd
import datetime as dt

1) Load either your dataset, `brfss`, or `nhis` and create at least three derived fields from the data there. Ideally, these will be fields you'll need for your final project.

I'm not sure who will had access to the data, so I will be using the brfss dataset for the homework. 
Also, I believe that the export of my data is already generally "clean", so all derived fields should already be present in the original export for the analysys I would like to complete.

In [18]:
from urllib.request import urlretrieve
import zipfile
from pathlib import Path

zf = '../data/brfss/LLCP2018ASC.zip'
if not Path(zf).exists():
    Path('../data/brfss').mkdir(exist_ok=True)

    urlretrieve('https://www.cdc.gov/brfss/annual_data/2018/pdf/overview-2018-508.pdf', '../data/brfss/overview-2018-508.pdf')
    urlretrieve('https://www.cdc.gov/brfss/annual_data/2018/pdf/codebook18_llcp-v2-508.pdf', '../data/brfss/codebook18_llcp-v2-508.pdf')
    
    urlretrieve('https://www.cdc.gov/brfss/annual_data/2018/files/LLCP2018ASC.zip', zf)

fwff = '../data/brfss/LLCP2018.ASC'
if not Path(fwff).exists():
    with zipfile.ZipFile(zf) as z:
        z.extractall('../data/brfss')

names= ['state', 'imonth', 'iday', 
        'iyear', 'dispcode','genhlth', 
        'physhlth',
        'menthlth', 'poorhlth', 'hlthpln1',
        'persdoc2', 'medcost', 'checkup1',
        'WEIGHT2', 'HEIGHT3']
cols = [
    (1, 3),
    (18, 20),
    (20, 22),
    (22, 27),
    (31, 35),
    (89, 90),
    (90, 92),
    (92, 94),
    (94, 96),
    (96, 97),
    (97, 98),
    (98, 99),
    (99, 100),
    (176, 180),
    (180, 184)
]
types= {
    'WEIGHT2': str,
    'HEIGHT3': str,
}
brfss = pd.read_fwf(fwff + ' ', 
                    names=names,
                    colspecs=cols,
                    dtype=types)

In my dataset, I use an eight digit date for the column called sys_sample_code, which is the column sys_loc_code value appended with the eight digit date to create a unique value for the sampling round.

In [19]:
brfss[['imonth', 'iday', 'iyear']].head()

   imonth  iday  iyear
0       1     5   2018
1       1    12   2018
2       1     8   2018
3       1     3   2018
4       1    12   2018

In [20]:
brfss["imonth"]= brfss.imonth.map("{:02}".format)
brfss["iday"]= brfss.iday.map("{:02}".format)
brfss[["imonth", "iday"]].head()

  imonth iday
0     01   05
1     01   12
2     01   08
3     01   03
4     01   12

In [21]:
brfss["date"] = brfss["imonth"].map(str)+brfss["iday"].map(str)+brfss["iyear"].map(str) 
brfss["date"].head()

0    01052018
1    01122018
2    01082018
3    01032018
4    01122018
Name: date, dtype: object

Not sure what the issue is below. I cannot find documentaiton that explains sufficiently what this error means.

In [24]:
dt.datetime.strptime(brfss.date, '%m%d%Y')
brfss[date].head()

TypeError: strptime() argument 1 must be str, not Series

From the formatted date, I would use it to derive the quarters using the following (I think):

In [ ]:
brfss['quarter']= pd.brfss["date"].quarter

2) Run the following cell.

In [25]:
import seaborn as sns
sns.__version__

'0.9.0'

#### Submitting

In the Terminal (Mac) or Git Bash (Windows):

`git commit -a -m 'Assignment 7 completed'`  
`git push`

### Reading

1. [_Python for Data Analysis_](https://uri-primo.hosted.exlibrisgroup.com/permalink/f/10nopmq/01URI_ALMA51209454630002396):
    * Chapter 9